
.navbar-collapse  {
    position: absolute;
    right: 10px;
}
.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),
                0 3px 8px 0 rgba(0,0,0,0.2)
}
.navbar-bland {
    margin-left: 6px;
}

.lista-plano li + li {
    border-top: 1px solid rgba(0,0,0,0.2);
}
.lista-plano li {
    padding: 1rem;
}

@media screen and (max-width: 991px) {
   
    .navbar-collapse {
        position: relative;
        margin-left: 14px;
    }
}
